<div class="main-content">
    {{>header}}
    <form>
        <div class="left-side">
            <input type="submit" id="4k" value="4k">
            <input type="submit" id="1080" value="1080">
            <input type="submit" id="720" value="720">
        </div>
        <div class="right-side" style="float: right; opacity: 0.8">
            <video width="500" id="myVideo" controls>
            </video>
        </div>
    </form>
    <p id="result"></p>
</div>
{{>footer}}